$bg-white: white;
@font-face {
    font-family: Poppins-Regular;
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-Bold;
    src: url(Poppins-Bold.ttf)
}


html, body {
    overflow-x:hidden 
}

* {
    margin: 0;
    font-family: Poppins-Regular;
    a {
        text-decoration: none;
        color: #4F5361;
    }
}

.btn {
    background: #0F1B4C;
    color: white;
    border-radius: 12px;
    border: none;
    width: 170px;
    height: 50px;
}

.main-logo {
    width: 107px;
    height: 24px;
}

.rect {
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

body {
    background: $bg-white;
}

.border-box {
    padding-left: 165px;
    padding-right: 165px;
}

header {
    background: #E6F0FF;

    #header {
        nav {
            padding-top: 38px;
            display: flex;
            height: 40px;
            justify-content: space-between;

            #left-nav {
                width: 45%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                ul {
                    display: flex;
                    justify-content: space-evenly;
                    list-style: none;
                    padding: 0;
        
                    li {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 21px;
                        color: #4F5361;
                        margin-left: 30px;
                    }
                }
            }

            #right-nav {
                width: 30%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                p {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    padding-right: 18px;
                }
                .register-btn {
                    width: 98px;
                    height: 40px;
                    border-radius: 8px;
                }
            }

        }

        #header-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            #header-content {
                h1 {
                    font-size: 64px;
                    font-weight: 700;
                    font-family: Poppins-Bold;
                    line-height: 76px;
                    padding-top: 8px;
                    padding-bottom: 30px;
                    color: #000336;
                }
                h4 {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                    letter-spacing: 0.01em;
                    color: #687691;
                }
                .desc {
                    padding-bottom: 40px;
                }
            }

            #light-house {
                display: flex;
                img {
                    height: 550px;
                }
            }
        }
    }
}
#clients-logo {
    color:#7D8589;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 160px;
    #clients-top {
        display: flex;
        justify-content: space-between;
        padding-top: 122px;
        #content {
            p {
                padding-top: 23px;
            } 
        }
        #review {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-end; 
            p {
                padding-top: 14px;
            }       
        }
    }
    #logos {
        display: flex;
        justify-content: space-between;
        height: 91px;
        align-items: center;
        padding-top: 70px;
    }
}
#how-it-works #box {
    display: flex;
    align-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 120px;
    #text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 70px;
        h1 {
            font-size: 35px;
            font-weight: 600;
            line-height: 35px;
            color: #000339;
            padding-top: 10px;
            padding-bottom: 20px;
        }
        p {
            text-align: center;
        }
    }
    .seller-type {
        display: flex;
        justify-content: space-evenly;
        width: 685px;
        .guides {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                padding-bottom: 23.6px;
            }
            p {
                color: #3B3C45;
                font-size: 20px;
                font-weight: 500;
                line-height: 22px;         
            }
            a {
                color: #0689FF;
                font-size: 14px;
                font-weight: 600;
                line-height: 21px;
                padding-bottom: 50px;
            }
        }
    }
}

#feature-01 {
    background: #F5FAFE;
    #text-featured {
        display: flex;
        justify-content: space-between;
        padding-top: 110px;
        padding-bottom: 70px;
        align-items: flex-end;
        #left-featured {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            h1 {
                font-size: 35px;
                line-height: 35px;
                font-weight: 600;
                color: #000339;
                padding-bottom: 15px;
            }
            p {
                font-size: 16px;
                line-height: 30px;
                font-weight: 400;
                color: #5A6473;
            }
        }
        a {
            color: #0689FF;
            font-size: 18px;
            font-weight: 600;
            line-height: 27px;
        }
    }
    #cards {
        display: flex;
        justify-content: space-between;
        padding-bottom: 110px;
        .card {
            background: white;
            border-radius: 8px;
            h1 {
                font-weight: 600;
                font-size: 20px;
                line-height: 20px;
                color: #000339;
                padding-top: 20px;
                padding-bottom: 8px;
                padding-left: 20px;
            }
            p {
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                color: #A3A6AB;
                padding-bottom: 20px;
                padding-left: 20px;
            }
            img {
                width: 350px;
                height: 227px;
            }
            #card-icons {
                display: flex;
                justify-content: space-evenly;
                padding-bottom: 20px;
                .group {
                    display: flex;
                    align-items: center;
                    p {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 14px;
                        color: #444444;
                        padding-left: 8px;
                        padding-bottom: 0px;
                    }
                    img {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }

}

#feature-02 {
    #feature-top { 
        display: flex;
        padding-top: 125px;
        justify-content: space-between;
        #image-and-card { 
            display: flex;
            #card {
                position: relative;
                background-color: white;
                width: 239px;
                height: 252px;
                left: 110px;
                border-radius: 0px 0px 12px 12px;
                .card-top {
                    display: flex;
                    justify-content: space-between;
                    margin: 45px 22px 8px 0px;
                    h1 {
                        font-weight: 700;
                        font-size: 26px;
                        line-height: 26px;
                        letter-spacing: 0.01em;
                        color: #000339;
                    }
                }
                p {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    color: #A7A7A7;
                    margin-bottom: 25px;
                }
                #users {
                    width: 100%;
                }
                .grey-line {
                    width: 220px;
                    height: 1px;
                    background: #E9E9E9;
                    margin-bottom: 10px;
                }
            }
            #house {
                height: 460px;
            }
        }
        #text-feature {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 50%;
            align-items: flex-start;
            align-content: center;
            flex-wrap: wrap;
            h1 {
                font-size: 35px;
                line-height: 45px;
                font-weight: 600;
                color: #000339;
                padding-bottom: 20px;
                padding-top: 10px;
            }
        }
    }
    #countdown {
        display: flex;
        justify-content: space-evenly;
        padding-top: 110px;
        padding-bottom: 100px;
        .sale {
            h1 {
                font-weight: 600;
                font-size: 64px;
                line-height: 64px;
                color: #000000;
            }
            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                color: #7B8087;
            }
        }
    }
}

#news-box {
    display: block;
    max-block-size: 470px;
    #rectangle {
        height: 370px;
        background: #063183;
        border-radius: 20px;
        #text {
            padding-left: 80px;
            padding-top: 100px;
            h1 {
                font-weight: 600;
                font-size: 35px;
                line-height: 35px;
                color: white;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: white;
                opacity: 0.75;
                padding-top: 15px;
                padding-bottom: 20px;
            }
            .get-started-btn {
                width: 151;
                background: white;
                color: #002366;
            }
        }
    }
    #mask {
        position: relative;
        left: 600px;
        bottom: 410px;
        img {
            height: 410px;
        }
    }
}

#footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    #footer-top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 65px;
        .footer-menu {
            h1 {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: #1C1C1D;
                padding-bottom: 42px;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #7A7A7E;
                padding-bottom: 18px;
            }
            #socials img {
                padding-right: 16px;
                padding-top: 22px;
            }
        }
    }
    #footer-bottom {
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #C2C2C2;
        }
    }
}